.image-wrap {
	position:relative;
	height:500px;
	overflow:hidden
}

.regular, .blurred {
	position:absolute;
	width:100%;
	min-height: 500px;
	-webkit-transform: translate3d(0,0,0);
}

.regular {opacity:1;}

.blurred { opacity:0;}