html {
	overflow: hidden;
}

.none-margin {
	margin-top: 0px;
}

.start-margin {
	margin-top: 80px;
}

.block-margin {
	margin-top: 60px;
}

.article-margin {
	margin-top: 20px;
}

form {
	position: relative;
	left: -14px;
	padding: 0;
	margin: 0;
}

.input-field {
	border-radius: 10px;
	border-radius: 10px;
	background: #FAFAFA;
	border: 1px solid #D4D4D4;
}

.bit-button {
    margin: 50px auto;
    width: 200px;
    height: 42px;
}

.bit-button-visual {
    border-radius: 40px;
    background: #DE6B75;
    border: 2px solid #B24057;
}

.bit-button:hover {
    -webkit-animation: scale 0.8s ease-in-out;
}

.sent-text {
	top: -85px;
	left: 41px;
}

.start-text {
	top: 5px;
	left: 30px;
}

.ruby-big {
    width: 218px;
    height: 205px;
	position: relative;
	top: -400px;
	margin: auto;
	background-image: url('../img/ruby-big.png');
	background-repeat: no-repeat;
}

.ruby-big:hover {
    -webkit-animation: move 0.6s ease-in-out;
}

.regular-image {
	background: url('../img/photo.jpg') no-repeat center center; 
	background-size: cover;
}

.blurred-image {
	background:url('../img/photo-blurred.jpg') no-repeat center center;
	background-size: cover;
}


@-webkit-keyframes move {
	0%,100% { 
		-webkit-transform-origin: bottom center; 
	}
	10% { -webkit-transform: rotate(-11deg); }	
	20% { -webkit-transform: rotate(8deg); opacity: 0.9 }
	30% { -webkit-transform: rotate(-7deg); }	
	40% { -webkit-transform: rotate(5deg); }	
	50% { -webkit-transform: rotate(-3deg); }
	
	60% { -webkit-transform: rotate(2deg); }
	70% { -webkit-transform: rotate(-2deg); }
	80% { -webkit-transform: rotate(1deg); }
	90% { -webkit-transform: rotate(-1deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes scale {
    10% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}